body {
    font-family: Arial, sans-serif;
    background-color: #456882;
    color: #1B3C53;
    margin: 0;
    padding: 0;
    direction: ltr;
    text-align: left;
    position: relative;
}

header {
    background-color: #F9F3EF;
    padding: 15px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    position: relative;
    height: 30px;
    overflow: visible;
}

.logo {
    position: absolute;
    top: 0px;
    left: 30px;
}

.logo img {
    height: 60px;
}


nav.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
    align-items: center;
}


nav a {
    color: #1B3C53;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #FFB823;
    background-color: rgba(255, 184, 35, 0.2);
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(255, 184, 35, 0.4);
}

nav a.active {
    color: #FFB823;
    background-color: rgba(255, 184, 35, 0.3);
    box-shadow: 0 0 10px rgba(255, 184, 35, 0.6);
}

footer {
    background-color: #F9F3EF;
    color: #1B3C53;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}