{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login account</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>

        <p class="register-link">don't have an account? <a href="{% url 'signup' %}">Register now</a></p>
    </form>
</div>
{% endblock %}
