{% load static %}
<header>
    <div class="logo">
        <img src="{% static 'images/logo1.png' %}" alt="logo" />
    </div>
    <nav class="navbar">
        <ul>
            <li class="nav-list"><a href="{% url 'home' %}" class="nav-item">Home</a></li>
            {% if user.is_authenticated %}
                {% if user.user_type == 'teacher' %}
                    <li><a href="{% url 'teacher_dashboard' %}" class="nav-item">Account</a></li>
                {% else %}
                    <li><a href="{% url 'student_dashboard' %}" class="nav-item">Account</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}" class="nav-item">login/register</a></li>
            {% endif %}
            <li class="nav-list"><a href="{% url 'courses_list' %}" class="nav-item">Courses</a></li>
            <li class="nav-list"><a href="{% url 'contact' %}" class="nav-item">Contact us</a></li>
            <li class="nav-list"><a href="{% url 'about' %}" class="nav-item">About us</a></li>
        </ul>
    </nav>
</header>
