{% extends 'base.html' %}

{% block title %}رزرو تعیین سطح{% endblock %}

{% block content %}
<div class="placement-form-container">
    <h2>رزرو وقت تعیین سطح</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_full_name">نام و نام خانوادگی:</label>
            {{ form.full_name }}
            {{ form.full_name.errors }}
        </div>

        <div class="form-group">
            <label for="id_phone">شماره تماس:</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>

        <div class="form-group">
            <label for="id_language_background">در صورتی که قبلاً در کلاس زبان شرکت کرده‌اید، سطح خود را شرح دهید:</label>
            {{ form.language_background }}
            {{ form.language_background.errors }}
        </div>

        <div class="form-group">
            <label for="id_date">تاریخ:</label>
            {{ form.date }}
            {{ form.date.errors }}
        </div>

        <div class="form-group">
            <label for="id_time">ساعت:</label>
            {{ form.time }}
            {{ form.time.errors }}
        </div>

        <button type="submit" class="reservation-btn">رزرو</button>
    </form>

</div>
{% endblock %}
